<div class="box">
    <a href="/categories/{{category.id}}">
        <div class="img-box">
            <img src="https://zid-testing.s3.eu-west-1.amazonaws.com/{{ category.image }}" alt="" style="max-height: unset; height: 190px">
        </div>
        <div class="detail-box">
            <h6>
                {{ category.name }}
            </h6>
        </div>
    </a>
</div>
